<app-navigation-bar></app-navigation-bar>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center contents">
                <div class="mb-4">
                        <div class="form-group">
                            <div class="date-text" *ngIf="lastModified">Last modified: {{lastModified}}</div>
                            <div class="editor" #editable autofocus>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>