<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">	
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action"><img src={{authUser.photoURL}} class="avatar" alt="Avatar"> {{authUser.displayName}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-text">{{authUser.email}}</li>
				<li class="divider"></li>
                <li><button class="btn btn-sm btn-link logout-button" (click)="logout()">Logout</button></li>
            </ul>
        </li>
    </ul>
</nav>